.elementor-column.eead-backdrop-filter-yes > .elementor-element-populated {
  -webkit-backdrop-filter: blur(var(--eead-backdrop-filter-blur, 0)) brightness(var(--eead-backdrop-filter-brightness, 100%)) contrast(var(--eead-backdrop-filter-contrast, 1)) grayscale(var(--eead-backdrop-filter-grayscale, 0)) invert(var(--eead-backdrop-filter-invert, 0)) opacity(var(--eead-backdrop-filter-opacity, 1)) sepia(var(--eead-backdrop-filter-sepia, 0)) saturate(var(--eead-backdrop-filter-saturate, 1)) hue-rotate(var(--eead-backdrop-filter-hue-rotate, 0));
  backdrop-filter: blur(var(--eead-backdrop-filter-blur, 0)) brightness(var(--eead-backdrop-filter-brightness, 100%)) contrast(var(--eead-backdrop-filter-contrast, 1)) grayscale(var(--eead-backdrop-filter-grayscale, 0)) invert(var(--eead-backdrop-filter-invert, 0)) opacity(var(--eead-backdrop-filter-opacity, 1)) sepia(var(--eead-backdrop-filter-sepia, 0)) saturate(var(--eead-backdrop-filter-saturate, 1)) hue-rotate(var(--eead-backdrop-filter-hue-rotate, 0));
}

.elementor-widget.eead-backdrop-filter-yes > .elementor-widget-container {
  -webkit-backdrop-filter: blur(var(--eead-backdrop-filter-blur, 0)) brightness(var(--eead-backdrop-filter-brightness, 100%)) contrast(var(--eead-backdrop-filter-contrast, 1)) grayscale(var(--eead-backdrop-filter-grayscale, 0)) invert(var(--eead-backdrop-filter-invert, 0)) opacity(var(--eead-backdrop-filter-opacity, 1)) sepia(var(--eead-backdrop-filter-sepia, 0)) saturate(var(--eead-backdrop-filter-saturate, 1)) hue-rotate(var(--eead-backdrop-filter-hue-rotate, 0));
  backdrop-filter: blur(var(--eead-backdrop-filter-blur, 0)) brightness(var(--eead-backdrop-filter-brightness, 100%)) contrast(var(--eead-backdrop-filter-contrast, 1)) grayscale(var(--eead-backdrop-filter-grayscale, 0)) invert(var(--eead-backdrop-filter-invert, 0)) opacity(var(--eead-backdrop-filter-opacity, 1)) sepia(var(--eead-backdrop-filter-sepia, 0)) saturate(var(--eead-backdrop-filter-saturate, 1)) hue-rotate(var(--eead-backdrop-filter-hue-rotate, 0));
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: #fff;
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

/*body, body a {
  cursor: none;
}*/


/* Background Overlay */
.eead-background-overlay-yes > .elementor-widget-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(100% - var(--eead-overlay-margin-right, 0px) - var(--eead-overlay-margin-left, 0px));
  height: calc(100% - var(--eead-overlay-margin-top, 0px) - var(--eead-overlay-margin-bottom, 0px));
  margin: var(--eead-overlay-margin-top, 0px) var(--eead-overlay-margin-right, 0px) var(--eead-overlay-margin-bottom, 0px) var(--eead-overlay-margin-left, 0px);
  pointer-events: none;
}
.eead-background-overlay-yes.eead-bg-o-t-zoom > .elementor-widget-container:before {
  transform: scale(0);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}
.eead-background-overlay-yes.eead-bg-o-t-zoom > .elementor-widget-container:hover:before {
  transform: scale(1);
  opacity: 1;
}
.eead-background-overlay-yes.eead-bg-o-t-rotate > .elementor-widget-container:before {
  transform: scale(0) rotate(-30deg);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}
.eead-background-overlay-yes.eead-bg-o-t-rotate > .elementor-widget-container:hover:before {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}


/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__trigger {
  cursor: pointer;
  position: relative;
}

.tooltip__trigger-text {
  display: block;
  padding: 0.85em;
  pointer-events: none;
}

.tooltip__base {
  position: absolute;
  bottom: 2em;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 200px;
  display: flex;
    align-items: center;
    justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.tooltip__content {
  color: #797979;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding: 0 1em;
  opacity: 0;
  font-size: 0.85em;
}

.tooltip__shape,
.tooltip__deco {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tooltip__shape {
  fill: #141514;
}

/* Indivudual styles */

/* Cora */
.tooltip--cora .tooltip__base{
  transform-origin: 50% 100%;
}

.tooltip--cora .tooltip__content {
  margin-bottom: 1em;
}

/* Smaug */
.tooltip--smaug .tooltip__base {
  bottom: -0.5em;
  transform-origin: 50% 100%;
}

.tooltip--smaug .tooltip__content {
  padding: 0;
}

/* Dori */
.tooltip--dori .tooltip__base {
  bottom: -0.5em;
}

.tooltip--dori .tooltip__content {
  margin: 0 0 1em;
}

/* Walda */
.tooltip--walda .tooltip__base {
  left: 0;
  bottom: 0.75em;
  position: absolute;
  margin-left: 0;
  width: 250px;
  height: 100px;
  padding: 0 0 0 0.25em;
}

.tooltip--walda .tooltip__trigger-text {
  padding: 1em;
}

.tooltip--walda .tooltip__content {
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  text-align: left;
  font-size: 0.85em;
  line-height: 2;
  opacity: 1;
  justify-content: flex-start;
}

.tooltip--walda .tooltip__letters span {
  display: inline-block;
  white-space: pre;
  opacity: 0;
}

.tooltip--walda .tooltip__deco {
  width: 4px;
  height: 100%;
  background: #141514;
  transform-origin: 50% 100%;
}

/* Gram */
.tooltip--gram .tooltip__base {
  bottom: -0.5em;
}

/* Narvi */
.path-narvi {
  transform-origin: 200px 150px;
}

.tooltip--narvi .tooltip__content {
  width: 80%;
}

/* Amras */
.path-amras-1 {
  transform-origin: 115px 111px;
}

.path-amras-2 {
  transform-origin: 204px 107px;
}

.path-amras-3 {
  transform-origin: 279px 66px;
}

.path-amras-4 {
  transform-origin: 320px 99px;
}

.path-amras-5 {
  transform-origin: 137px 199px;
}

.path-amras-6 {
  transform-origin: 222px 217px;
}

.path-amras-7 {
  transform-origin: 80px 168px;
}

.path-amras-8 {
  transform-origin: 296px 211px;
}

.path-amras-9 {
  transform-origin: 310px 167px;
}

/* Hador */
.tooltip--hador .tooltip__base {
  bottom: 2.25em;
  margin-left: -115px;
}

.path-hador-1 {
  transform-origin: 148px 284px;
}

.path-hador-2 {
  transform-origin: 160px 268px;
}

.path-hador-3 {
  transform-origin: 171px 246px;
}

.path-hador-4 {
  transform-origin: 200px 120px;
}

.tooltip--hador .tooltip__content {
  width: 50%;
  margin: 0 0 2.5em;
}

/* Malva */
.tooltip--malva .tooltip__content {
  width: 50%;
}

/* Sadoc */
.tooltip--sadoc .tooltip__base {
  bottom: 2.5em;
}

.tooltip--sadoc .tooltip__shape path {
  fill: #1d1f1e;
  stroke: #5a5c5b;
  stroke-width: 3px;
}


/* Tile Scroll */
.elementor-section.has-eead-tile-scroll {
  overflow: hidden;
}
.eead-tile-scroll {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.eead-tile-scroll__wrap {
  width: 150%;
  --eead-tile-scrollwrap-height: var(--eead-tile-scroll-height);
  height: var(--eead-tile-scrollwrap-height);
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.eead-tile-scroll__line {
  display: flex;
}
.eead-tile-scroll__line-img {
  flex: none;
  width: calc(var(--eead-tile-scroll-item-width, 16.6666%) - var(--eead-tile-scroll-margin, 2vw) * 2);
  height: calc(var(--eead-tile-scrollwrap-height) / 3 - (3 * var(--eead-tile-scroll-margin, 2vw) / 2));
  margin: var(--eead-tile-scroll-margin, 2vw);
  background-size: cover;
  background-position: 50% 50%;
}
.eead-tile-scroll--horizontal .eead-tile-scroll__wrap {
  --eead-tile-scrollwrap-height: calc(var(--eead-tile-scroll-height) * 1.8);
}
.eead-tile-scroll--horizontal .eead-tile-scroll__line-img {
  width: calc(var(--eead-tile-scroll-item-width, 16.6666%) - var(--eead-tile-scroll-margin, 1vw) * 2);
  height: calc(var(--eead-tile-scrollwrap-height) / 5 - (4 * var(--eead-tile-scroll-margin, 1vw) / 2));
}
.eead-tile-scroll--vertical .eead-tile-scroll__wrap {
  width: 100%;
  display: flex;
  --eead-tile-scrollwrap-height: calc(var(--tiles-height, 140vh) * 1.4);
  transform: translate3d(0, -50%, 0);
  left: 0;
  top: 50%;
}
.eead-tile-scroll--vertical .eead-tile-scroll__line {
  width: 25%;
  padding: 0 calc(var(--eead-tile-scroll-margin, 2rem) / 2);
  display: block;
}
.eead-tile-scroll--vertical .eead-tile-scroll__line-img {
  width: 100%;
  height: calc(var(--eead-tile-scroll-height, 52vw) / 1.95 );
  margin: var(--eead-tile-scroll-margin, 2rem) 0;
}


/* tile scroll */
.content {
  padding: 3rem;
  min-height: 90vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.content--auto {
  min-height: 0;
}

.content--feature {
  justify-content: flex-start;
  min-height: 0;
}

.content--fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

.content__pretitle {
  margin-top: auto;
  font-size: 1.85rem;
  color: var(--color-alt);
}

.content__pretitle::before {
  content: "\2015";
  margin-right: 0.25rem;
}

.content__title {
  font-size: 9vw;
  line-height: 0.8;
  margin: 0 0 3rem 0;
  font-weight: 400;
  max-width: 800px;
  will-change: transform;
}

.content__text {
  font-size: 2.25rem;
  font-size: clamp(1rem, 4vw, 2.25rem);
}

.content__text--right {
  align-self: flex-end;
}

.content__text--centered {
  margin: auto;
}

.content__breakout {
  margin: 0 -3rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: span, serif;
  font-weight: 200;
  font-style: italic;
  color: #211f1b;
}

.content__breakout--big {
  font-size: 13vw;
  font-weight: 200;
}

.content__breakout--medium {
  font-size: 5vw;
}

.tiles {
  --tiles-height: 52vw;
  height: var(--tiles-height);
  position: relative;
  overflow: hidden;
}

.tiles--columns-rotated {
  --tiles-height: 180vmax;
}

.tiles--columns {
  --tiles-height: 140vh;
}

.tiles--oneline {
  --tiles-height: 50vh;
  min-height: 400px;
  margin: 10vh 0;
}

.tiles--small {
  --tiles-height: 100px;
  margin: 10vh 0 0;
}

.tiles--fixed {
  --tiles-height: 65vw;
  margin-top: 25vh;
}

.tiles--perspective {
  overflow: visible;
  perspective: 1000px;
  --tiles-height: 500px;
}

.eead_tiles__wrap {
  width: 150%;
  --tileswrap-height: var(--tiles-height);
  height: var(--tileswrap-height);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%, 0);
}

.tiles--rotated .eead_tiles__wrap {
  --tileswrap-height: calc(var(--tiles-height) * 1.8);
  transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

.tiles--columns-rotated .eead_tiles__wrap {
  width: 150%;
  display: flex;
  transform: translate3d(-50%,-50%,0) rotate(-22.5deg);
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
}

.tiles--columns .eead_tiles__wrap {
  width: 100%;
  display: flex;
  --tileswrap-height: calc(var(--tiles-height) * 1.4);
  transform: translate3d(0,-50%,0);
  left: 0;
  top: 50%;
}

.tiles--perspective .eead_tiles__wrap {
  width: 200%;
    transform: translate3d(-50%,-50%,0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

.tiles--fixed .eead_tiles__wrap {
  width: 100%;
}

.tiles__line {
  display: flex;
}

.tiles--columns .tiles__line {
  width: 25%;
  padding: 0 1rem;
  display: block;
}

.tiles--columns-rotated .tiles__line {
  width: 320px;
  flex: none;
  padding: 0 1.5vw;
  display: block;
}

.tiles--columns-rotated .tiles__line:nth-child(even) {
  margin-top: -160px;
}

.tiles--oneline .tiles__line {
  height: 100%;
}

.tiles--small .tiles__line {
  height: 100%;
}

.eead_tiles__line-img {
  --tile-margin: 2vw;
  flex: none;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;
}

.tiles--perspective .eead_tiles__line-img {
  backface-visibility: hidden;
  outline: 1px solid transparent;
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(16.666vw * 1.3);
}

.tiles--oneline .eead_tiles__line-img {
  --tile-margin: 1vw;
  margin: 0 var(--tile-margin);
  width: calc(25% - var(--tile-margin) * 2);
  height: 100%;
}

.tiles--small .eead_tiles__line-img {
  --tile-margin: 5px;
  margin: 0 var(--tile-margin);
  width: calc(12.5% - var(--tile-margin) * 2);
  height: 100%;
}

.tiles--rotated .eead_tiles__line-img {
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc( var(--tileswrap-height) / 5 - (4 * var(--tile-margin) / 2));
}

.tiles--columns-rotated .eead_tiles__line-img {
  --tile-margin: 3vw 0;
  width: 100%;
  height: 400px;
}

.tiles--columns .eead_tiles__line-img {
  --tile-margin: 2rem 0;
  width: 100%;
  height: calc(25vw * 1.3);
}

.tiles--fixed .eead_tiles__line-img {
  --tile-margin: 10px;
  -webkit-filter: brightness(0.8);
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
}

.tiles--darker .eead_tiles__line-img {
  opacity: 0.7;
}

.tiles__title {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  padding: 3rem;
  margin: 0;
  line-height: 0.8;
  font-family: span, serif;
  font-weight: 700;
  font-style: normal;
}

.tiles__title--alt {
  font-size: 9vw;
  font-size: clamp(2rem, 9vw, 7.25rem);
}

.tiles__title--intro {
  padding-top: 10vh;
  align-items: flex-start;
  justify-content: flex-start;
}

.tiles__title--right {
  justify-content: flex-end;
}

.tiles__title--left {
  justify-content: flex-start;
}

.tiles__title--full {
  height: 100%;
}

.backtop {
  align-self: center;
  margin: auto 0;
  font-size: 6vw;
  cursor: pointer;
  text-decoration: none;
}

.backtop::after {
  content: "\2934";
  font-size: 3vw;
  vertical-align: top;
  margin-left: 1rem;
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
overflow: hidden;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
  
html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
  
.has-scroll-smooth body {
  overflow: hidden; 
}
  
.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; 
}
  
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; 
}
.c-scrollbar:hover {
  transform: scaleX(1.45); 
}
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1; 
}
  
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; 
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing; 
}

@media screen and (min-width: 53em) {
  .frame {
    display: grid;
    align-content: space-between;
    width: 100%;
    grid-gap: 5vw;
    grid-template-columns: auto auto auto 1fr;
    grid-template-areas: 'title title links demos';
  }
  .frame__title {
    margin: 0;
    grid-area: title;
  }
  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }
  .frame__links {
    grid-area: links;
    padding: 0;
    justify-self: end;
  }
  .tiles--columns-rotated .tiles__line {
    width: 33vmax;
  }
  .tiles--columns-rotated .tiles__line:nth-child(even) {
    margin-top: -20vmax;
  }
  .tiles--columns-rotated .eead_tiles__line-img {
    height: 40vmax;
  }
  .content--numbered::after {
    counter-increment: contentSection;                   
    content: counter(contentSection,decimal-leading-zero);
    position: absolute;
    top: 50%;
    right: 3rem;
    border: 1px solid;
    color: var(--color-alt);
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .content__text {
    max-width: 800px;
    width: 50vw;
    min-width: calc(300px - 6rem);
  }
  .content__text--wide {
    max-width: 1000px;
    width: 65vw;
  }
  .tiles--small {
    --tiles-height: 240px;
  }
}


/* Cursor */
.eead-global-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  cursor: none;
  pointer-events: none;
  text-align: center; }
  .eead-global-cursor .eead-cursor-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .eead-global-cursor .eead-cursor-follow-text {
    display: inline;
    vertical-align: middle;
    white-space: nowrap; }
  .eead-global-cursor .eead-cursor-icon-svg {
    display: block; }

.eead-cursor-ftext .eead-global-cursor,
.eead-cursor-fimage .eead-global-cursor {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear; }

.eead-cursor-icon .eead-global-cursor,
.eead-cursor-img .eead-global-cursor,
.eead-cursor-lottie .eead-global-cursor {
  -webkit-transition: left 0s linear, top 0s linear;
  transition: left 0s linear, top 0s linear; }

.eead-pulse-yes {
  -webkit-animation: hvr-pulse-grow 0.5s ease-in-out alternate infinite;
          animation: hvr-pulse-grow 0.5s ease-in-out alternate infinite; }

.eead-buzz-yes {
  -webkit-animation: hvr-buzz 0.5s ease-in-out alternate infinite;
          animation: hvr-buzz 0.5s ease-in-out alternate infinite; }

.eead-cursor-not-active {
  display: none !important; }

.eead-gCursor-yes:not(.eead-cursor-fimage):not(.eead-cursor-ftext) * {
  cursor: none !important; }

.eead-gCursor-yes.eead-cursor-ftext * {
  cursor: default; }

.eead-gCursor-yes.eead-cursor-fimage * {
  cursor: default; }

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); } }

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(3deg);
    transform: translateX(3px) rotate(3deg); }
  100% {
    -webkit-transform: translateX(-3px) rotate(-3deg);
    transform: translateX(-3px) rotate(-3deg); } }

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }