/* Live Editor */
.eead-btn-block {
    width: 100% !important;
    margin: -10px 0 10px;
}

.elementor-template-eead-live-editor-modal-container {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.eead-live-editor-iframe-modal {
    display: none;
    position: relative;
}

.eead-dynamic-content-modal {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.eead-live-editor-iframe-modal .elementor-templates-modal__header__logo__title {
    margin-right: 35px;
}

.eead-live-editor-iframe-modal .dialog-lightbox-header {
    background-color: #f1f3f5 !important;
}

.eead-live-editor-iframe-modal .dialog-message {
    position: relative;
}

.eead-live-editor-iframe-modal iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.eead-dynamic-content-modal .dialog-widget-content {
    position: static !important;
    max-width: -webkit-calc(100vw - 70px) !important;
    max-width: calc(100vw - 70px) !important;
    width: -webkit-calc(100vw - 70px) !important;
    width: calc(100vw - 70px) !important;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.elementor-device-desktop #elementor-preview-responsive-wrapper {
    min-width: auto !important;
}

.eead-live-editor-iframe-modal {
    display: none;
}

.eead-live-editor-iframe-modal .elementor-templates-modal__header__close {
    margin-left: 15px;
}

#eead-live-editor-logo .eead-template-modal-header-logo-icon img {
    width: 30px;
    height: 30px;
}

#eead-live-temp-title {
    width: 400px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    font-size: 12px;
    color: #6d7882;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d5dadf;
    outline: 0;
    font-weight: normal;
}

.eead-live-temp-notice {
    margin: 0 10px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}

#eead-live-temp-title {
    padding: 8px 10px;
}

.eead-live-editor-title {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.eead-modal-expanded .dialog-lightbox-widget-content {
    max-width: 100% !important;
    margin: 0 !important;
}

.eead-modal-expanded .dialog-lightbox-message {
    max-height: 100vh;
}

.eead-modal-expanded #eead-live-editor-control-iframe {
    height: -webkit-calc(100vh - 50px);
    height: calc(100vh - 50px);
}

.eead-live-temp-title.control-hidden {
    display: none;
}

.eead-live-temp-label label {
    font-weight: 900;
}

.eead-live-editor-iframe-modal .dialog-message {
    height: -webkit-calc(100vh - 50px) !important;
    height: calc(100vh - 50px) !important;
    max-height: -webkit-calc(100vh - 50px) !important;
    max-height: calc(100vh - 50px) !important;
}


.eead-live-editor-iframe-modal {
    display: none;
}

.eead-live-editor-iframe-modal .elementor-templates-modal__header__close {
    margin-left: 15px;
}

#eead-live-editor-logo .eead-template-modal-header-logo-icon img {
    width: 30px;
    height: 30px;
}

#eead-live-temp-title {
    width: 400px;
    border-radius: 3px 0 0 3px;
}

.eead-live-temp-notice {
    margin: 0 10px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}

#eead-insert-live-temp {
    white-space: nowrap;
    border-radius: 0 3px 3px 0;
}

#eead-insert-live-temp,
#eead-live-temp-title {
    padding: 8px 10px;
}

.eead-live-editor-title {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.eead-modal-expanded .dialog-lightbox-widget-content {
    max-width: 100% !important;
    margin: 0 !important;
}

.eead-modal-expanded .dialog-lightbox-message {
    max-height: 100vh;
}

.eead-modal-expanded #eead-live-editor-control-iframe {
    height: calc(100vh - 50px);
}

.eead-live-temp-title.control-hidden {
    display: none;
}

.eead-live-temp-label label {
    font-weight: 900;
}